body {
  font-size: 40px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;

  border: 2px solid brown;
  border-radius: 10px;
  background-color: chocolate;
}


.timer > .field{
  display: flex;
  align-items: center;
  flex-direction: column;
} 

.timer > .field > .value {
  font-size: 50px;
}